In [1]:
import urllib
from io import StringIO
from io import BytesIO
import csv
import numpy as np
from datetime import datetime
import matplotlib.pylab as plt
import pandas as pd
import scipy.signal as signal

In [2]:
datos1=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_2/Fourier/Datos/transacciones2008.txt",header=None,sep=";",names=["FechaBien","HoraBien","Valor","OtraCosa"])
datos1["FechaCompleta"] = datos1["FechaBien"].astype(str).str[:-7] + " " + datos1["HoraBien"].astype(str).str[11:]
datos1["FechaCompleta"]=pd.to_datetime(datos1["FechaCompleta"],format='%d/%m/%Y %H:%M:%S')
datos1.set_index(["FechaCompleta"],inplace=True)

In [3]:
datos2=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_2/Fourier/Datos/transacciones2008.txt",header=None,sep=";",names=["FechaBien","HoraBien","Valor","OtraCosa"])
datos2["FechaCompleta"] = datos2["FechaBien"].astype(str).str[:-7] + " " + datos2["HoraBien"].astype(str).str[11:]
datos2["FechaCompleta"]=pd.to_datetime(datos2["FechaCompleta"],format='%d/%m/%Y %H:%M:%S')
datos2.set_index(["FechaCompleta"],inplace=True)

In [4]:
datos3=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_2/Fourier/Datos/transacciones2008.txt",header=None,sep=";",names=["FechaBien","HoraBien","Valor","OtraCosa"])
datos3["FechaCompleta"] = datos3["FechaBien"].astype(str).str[:-7] + " " + datos3["HoraBien"].astype(str).str[11:]
datos3["FechaCompleta"]=pd.to_datetime(datos3["FechaCompleta"],format='%d/%m/%Y %H:%M:%S')
datos3.set_index(["FechaCompleta"],inplace=True)

In [5]:
concatenado = pd.concat([datos1,datos2,datos3])

In [8]:
concatenado

,FechaBien,HoraBien,Valor,OtraCosa
FechaCompleta,,,,
2008-01-02 08:49:33,2/1/2008 0:00:00,30/12/1899 8:49:33,"499,00","500000,00"
2008-01-02 08:49:40,2/1/2008 0:00:00,30/12/1899 8:49:40,"499,00","500000,00"
2008-01-02 08:49:58,2/1/2008 0:00:00,30/12/1899 8:49:58,"499,00","100000,00"
2008-01-02 08:50:09,2/1/2008 0:00:00,30/12/1899 8:50:09,"499,00","250000,00"
2008-01-02 08:50:17,2/1/2008 0:00:00,30/12/1899 8:50:17,"499,40","200000,00"
2008-01-02 08:50:20,2/1/2008 0:00:00,30/12/1899 8:50:20,"499,49","500000,00"
2008-01-02 08:50:26,2/1/2008 0:00:00,30/12/1899 8:50:26,"499,50","500000,00"
2008-01-02 08:50:26,2/1/2008 0:00:00,30/12/1899 8:50:26,"499,00","200000,00"
2008-01-02 08:50:34,2/1/2008 0:00:00,30/12/1899 8:50:34,"499,49","500000,00"
2008-01-02 08:51:00,2/1/2008 0:00:00,30/12/1899 8:51:00,"499,80","200000,00"
2008-01-02 08:54:25,2/1/2008 0:00:00,30/12/1899 8:54:25,"499,50","250000,00"
2008-01-02 08:55:12,2/1/2008 0:00:00,30/12/1899 8:55:12,"499,10","1000000,00"
2008-01-02 08:55:40,2/1/2008 0:00:00,30/12/1899 8:55:40,"499,30","150000,00"
2008-01-02 08:55:57,2/1/2008 0:00:00,30/12/1899 8:55:57,"499,10","200000,00"
2008-01-02 08:56:10,2/1/2008 0:00:00,30/12/1899 8:56:10,"498,90","200000,00"
2008-01-02 08:56:13,2/1/2008 0:00:00,30/12/1899 8:56:13,"498,85","1000000,00"
2008-01-02 08:57:02,2/1/2008 0:00:00,30/12/1899 8:57:02,"498,75","100000,00"
2008-01-02 08:57:06,2/1/2008 0:00:00,30/12/1899 8:57:06,"498,70","1000000,00"
2008-01-02 08:57:14,2/1/2008 0:00:00,30/12/1899 8:57:14,"498,00","100000,00"
2008-01-02 08:58:38,2/1/2008 0:00:00,30/12/1899 8:58:38,"498,40","1000000,00"
2008-01-02 09:00:14,2/1/2008 0:00:00,30/12/1899 9:00:14,"498,45","100000,00"
2008-01-02 09:00:38,2/1/2008 0:00:00,30/12/1899 9:00:38,"498,50","100000,00"
2008-01-02 09:01:08,2/1/2008 0:00:00,30/12/1899 9:01:08,"498,40","500000,00"
2008-01-02 09:03:08,2/1/2008 0:00:00,30/12/1899 9:03:08,"498,25","250000,00"
2008-01-02 09:03:09,2/1/2008 0:00:00,30/12/1899 9:03:09,"498,25","250000,00"
2008-01-02 09:03:15,2/1/2008 0:00:00,30/12/1899 9:03:15,"498,25","100000,00"
2008-01-02 09:03:15,2/1/2008 0:00:00,30/12/1899 9:03:15,"498,25","400000,00"
2008-01-02 09:03:29,2/1/2008 0:00:00,30/12/1899 9:03:29,"498,20","1000000,00"
2008-01-02 09:03:29,2/1/2008 0:00:00,30/12/1899 9:03:29,"498,25","1000000,00"
2008-01-02 09:05:11,2/1/2008 0:00:00,30/12/1899 9:05:11,"498,20","600000,00"
...,...,...,...,...
2008-12-30 12:31:03,30/12/2008 0:00:00,30/12/1899 12:31:03,"641,10","700000,00"
2008-12-30 12:41:03,30/12/2008 0:00:00,30/12/1899 12:41:03,"640,00","160000,00"
2008-12-30 12:41:07,30/12/2008 0:00:00,30/12/1899 12:41:07,"639,52","120000,00"
2008-12-30 12:47:09,30/12/2008 0:00:00,30/12/1899 12:47:09,"639,00","700000,00"
2008-12-30 12:50:21,30/12/2008 0:00:00,30/12/1899 12:50:21,"641,00","500000,00"
2008-12-30 12:50:21,30/12/2008 0:00:00,30/12/1899 12:50:21,"641,00","444000,00"
2008-12-30 12:50:33,30/12/2008 0:00:00,30/12/1899 12:50:33,"641,00","500000,00"
2008-12-30 12:50:34,30/12/2008 0:00:00,30/12/1899 12:50:34,"641,00","500000,00"
2008-12-30 12:50:35,30/12/2008 0:00:00,30/12/1899 12:50:35,"641,00","500000,00"
2008-12-30 12:52:41,30/12/2008 0:00:00,30/12/1899 12:52:41,"642,00","100000,00"
2008-12-30 12:58:21,30/12/2008 0:00:00,30/12/1899 12:58:21,"642,00","150000,00"
2008-12-30 12:58:36,30/12/2008 0:00:00,30/12/1899 12:58:36,"642,00","100000,00"
2008-12-30 12:59:31,30/12/2008 0:00:00,30/12/1899 12:59:31,"642,00","150000,00"
2008-12-30 13:15:56,30/12/2008 0:00:00,30/12/1899 13:15:56,"641,20","100000,00"
2008-12-30 13:16:19,30/12/2008 0:00:00,30/12/1899 13:16:19,"641,20","100000,00"
2008-12-30 13:19:30,30/12/2008 0:00:00,30/12/1899 13:19:30,"641,10","200000,00"
2008-12-30 13:19:32,30/12/2008 0:00:00,30/12/1899 13:19:32,"641,10","200000,00"
2008-12-30 13:20:12,30/12/2008 0:00:00,30/12/1899 13:20:12,"640,00","500000,00"
2008-12-30 13:20:16,30/12/2008 0:00:00,30/12/1899 13:20:16,"640,00","500000,00"
2008-12-30 13:21:07,30/12/2008 0:00:00,30/12/1899 13:21:07,"640,00","500000,00"
2008-12-30 13:22:44,30/12/2008 0:00:00,30/12/1899 13:22:44,"640,15","350000,00"
2008-12-30 13:25:38,30/12/2008 0:00:00,30/12/1899 13:25:38,"640,00","500000,00"
2008-12-30 13:27:52,30/12/2008 0:00:00,30/12/1899 13:27:52,"640,50","100000,00"
2008-12-30 13:31:54,30/12/2008 0:00:00,30/12/1899 13:31:54,"641,00","130000,00"
2008-12-30 13:39:55,30/12/2008 0:00:00,30/12/1899 13:39:55,"640,60","250000,00"
2008-12-30 13:42:11,30/12/2008 0:00:00,30/12/1899 13:42:11,"642,00","500000,00"
2008-12-30 13:42:25,30/12/2008 0:00:00,30/12/1899 13:42:25,"642,00","300000,00"
2008-12-30 13:44:27,30/12/2008 0:00:00,30/12/1899 13:44:27,"642,00","343000,00"
2008-12-30 13:51:22,30/12/2008 0:00:00,30/12/1899 13:51:22,"642,00","110000,00"
2008-12-30 13:58:26,30/12/2008 0:00:00,30/12/1899 13:58:26,"641,99","220000,00"